* {
  box-sizing: border-box;
  cursor: default;
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
  font-size: 16px;
}

a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

body,
html {
  background: $background;
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

footer {
  align-self: flex-end;
  flex: 1 0 auto;
  padding: 20px;
  text-align: right;
  width: 100%;
}