<div class="calculator">
  <div class="calculator-display" display>0</div>
  <div class="calculator-keypad">
    <div class="key" clear>AC</div>
    <div class="key" operator>&plusmn;</div>
    <div class="key" operator>%</div>
    <div class="key" operator>&divide;</div>
    <div class="key" number>7</div>
    <div class="key" number>8</div>
    <div class="key" number>9</div>
    <div class="key" operator>&times;</div>
    <div class="key" number>4</div>
    <div class="key" number>5</div>
    <div class="key" number>6</div>
    <div class="key" operator>&mdash;</div>
    <div class="key" number>1</div>
    <div class="key" number>2</div>
    <div class="key" number>3</div>
    <div class="key" operator>+</div>
    <div class="big key" number>0</div>
    <div class="key" point>.</div>
    <div class="key" solve>=</div>
  </div>
</div>