<div class="calculator">
  <div class="calculator-display">0</div>
  <div class="calculator-keypad">
    <div class="key">AC</div>
    <div class="key">&plusmn;</div>
    <div class="key">%</div>
    <div class="key">&divide;</div>
    <div class="key">7</div>
    <div class="key">8</div>
    <div class="key">9</div>
    <div class="key">&times;</div>
    <div class="key">4</div>
    <div class="key">5</div>
    <div class="key">6</div>
    <div class="key">&mdash;</div>
    <div class="key">1</div>
    <div class="key">2</div>
    <div class="key">3</div>
    <div class="key">+</div>
    <div class="big key">0</div>
    <div class="key">.</div>
    <div class="key">=</div>
  </div>
</div>